body {
	background-color: #8b2937;
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main {
	width: 75%;
	margin: 200px auto 0 auto;
}

#header {
	width: 100%;
	background-color: #6E0120;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;
	display: block;
	top: 0;
	left: 0;
}

#header-img, #nav-bar, li {
	display: inline-block;
}

#title {
	margin: 50px auto 0 auto;
	text-align: center;
}

li {
	margin-right: 45px;
}

a {
	text-decoration: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
	margin-bottom: 5px;
}

#nav-bar {
	float: right;
	height: 100%;
	margin: auto 0;
}

#header-img {
	height: 125px;
}

#video {
	display: block;
	margin: 0 auto;
}

#features, #pricing {
	margin: 50px auto;
	text-align: center;
}

#form {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#submit {
	display: block;
	margin: 10px auto 0 auto;
}